.App {
  text-align: center;
  color:  00338D;
}


.App-header {
  background-color:  00338D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color:  00338D;
}

button {
  background-color: #00338D; 
  color: white; 
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

header {
  background-color: #0057a6; /* KPMG Blue */
  padding: 10px;
  margin-bottom: 20px;
  color: white; /* Text color for header */
}

button:hover {
  background-color: #0057A6;
}


.ChargingPoints,
.ChargingPoints * {
  color:  00338D;
}


.ChargingPoints {
  margin-top: 20px;
}


.ChargingPoints .charging-station {
  border: 1px solid #0057a6; 
  padding: 10px;
  margin: 10px;
}


.ChargingPoints button {
  background-color: #0057a6; 
  color: white; 
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.ChargingPoints button:hover {
  background-color: #003366; 
}
